.pag{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 99vh;
    margin: 0%; 
    min-height: 99vh; 
    background-color: rgb(4 18 24);
    color: rgb(240 240 240);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.entrada{
    width: 100%;
    padding: 12px 2px 12px 4px;
    margin-bottom: 15px;

    border: 1px solid #333;
    border-radius: 8px;

    background: #1f1f1f;
    color: white;

    font-size: 15px;
}

.btns{
    display: flex;
    margin-bottom: 0;
    height: 2rem;
    width: 100%;
    margin-bottom: 0.2rem;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.botao-adicionar{
    border-radius: 1rem;
    margin-bottom: 0.8rem;
    margin-top: 1rem;
    padding: 0.4rem;
    border-color: #080b29;
    background-color: rgb(20, 14, 72);
    color: rgb(255, 255, 255); 
    font-weight: bold;
    font-size: 0.9rem;
    height: 2rem;
    cursor: pointer;
}

.botao-adicionar:hover{
    opacity: 0.85;
}

.msg{
    margin-top: 25vh;
    margin-bottom: 1rem;
}

.form-criar{
    position: relative;
    width: 380px;
    background: rgba(15, 15, 15, 0.92);
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    color: white;
    text-align: center;
}