.conteudo-cadastro {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

    /* 
    no-repeat: a imagem aparece só uma vez
    se a imagem for pequena, ela iria repetir várias vezes até preencher toda a tela (tipo um mosaico)

    center center: 
    são as coordenadas: eixo horizontal e vertical; centraliza a imagem no meio da tela

    fixed: a imagem fica fixa no fundo da página

    cover: a imagem preenche toda a tela, mesmo que para isso precise cortar um pedaço dela
    */

    background: url("https://s2-g1.glbimg.com/A2gI7ptKtYjBCSYRSzjSauroLCU=/1920x0/filters:format(jpeg)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2024/M/o/SiEb85RWuehJRgbACabw/robo-selvagem-foto1.jpg") no-repeat center center fixed;
    background-size: cover;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-container {
    position: relative;

    width: 380px;
    background: rgba(15, 15, 15, 0.92);
    padding: 35px;
    border-radius: 14px;

    box-shadow: 0 0 25px rgba(0,0,0,0.4);

    color: white;
    text-align: center;
}

.titulo-cadastro {
    margin: 0 0 8px 0;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.subtitle {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 22px;
}

.inputForm {
    width: 100%;
    padding: 12px 2px 12px 4px;
    margin-bottom: 15px;

    border: 1px solid #333;
    border-radius: 8px;

    background: #1f1f1f;
    color: white;
    font-size: 15px;
}

.btn_cadastrar {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

    background: linear-gradient(90deg, #4a00e0, #8e2de2);
    color: white;
    margin-top: 10px;
}

.btn_cadastrar:hover {
    opacity: 0.85;
}