body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

    background: rgb(16, 17, 44);
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sombra sobre o fundo */
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
}

/* Caixa de login */
.formCadastro {
    position: relative;

    width: 380px;
    background: rgba(15, 15, 15, 0.92);
    padding: 35px;
    border-radius: 14px;

    box-shadow: 0 0 25px rgba(0,0,0,0.4);

    color: white;
    text-align: center;
}

h1 {
    margin: 0 0 16px 0;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px 2px 12px 4px;
    margin-bottom: 15px;

    border: 1px solid #333;
    border-radius: 8px;

    background: #1f1f1f;
    color: white;

    font-size: 15px;
}

/* Botões */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

    background: linear-gradient(90deg, #4a00e0, #8e2de2);
    color: white;
    margin-top: 10px;
}

button:hover {
    opacity: 0.85;
}
