.container {
  background-color: #041218;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  p{
    margin: 5px 0; 
  }
}

.link {
  color: #ffffff; 
  text-decoration: none; 
  font-weight: bold; 
}

.link:hover {
  color: #61dafb; 
  text-decoration: underline;
}