body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

    /* AQUI GARANTE QUE A IMAGEM VAI APARECER */
    background: url("https://media.gazetadopovo.com.br/2024/06/27175119/divertidamente_2-720x450.jpg") no-repeat center center fixed;
    background-size: cover;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sombra sobre o fundo */
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
}

/* Caixa de login */
.login-container {
    position: relative;

    width: 380px;
    background: rgba(15, 15, 15, 0.92);
    padding: 35px;
    border-radius: 14px;

    box-shadow: 0 0 25px rgba(0,0,0,0.4);

    color: white;
    text-align: center;
}

h2 {
    margin: 0 0 8px 0;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.subtitle {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 22px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px 2px 12px 4px;
    margin-bottom: 15px;

    border: 1px solid #333;
    border-radius: 8px;

    background: #1f1f1f;
    color: white;

    font-size: 15px;
}

/* Botões */
.btn_continuar {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

    background: linear-gradient(90deg, #4a00e0, #8e2de2);
    color: white;
    margin-bottom: 12px;
}

.btn_continuar:hover {
    opacity: 0.85;
}

/* Botão Criar Conta*/
.btn_criar_conta {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

    background: transparent;
    border: 1px solid #666;
    color: #e1e1e1;
}

.btn_criar_conta:hover {
    background: rgba(255, 255, 255, 0.08);
}
