.conteudo-pagina{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%; /*tiro a margem da página toda*/
  min-height: 99vh; /*pro body ocupar a página toda*/
  background-color: rgb(4 18 24);
  color: rgb(240 240 240);
  
}

/* Header */
header{
  display: flex; 
  background: linear-gradient(to right, rgb(50 85 226), rgb(32 35 128));
  width: 100%;
  height: 5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  .div-logo{
    display: flex;
    height: 3rem;
    display: flex;
    color: white;
    width: 12rem;
    margin-top: 0.5rem;
    align-self: left;
    margin-left: 5rem;
    margin-right: 4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    p{
      font-size: 1.5rem;
      margin-top: 1rem;
    }

    .div-img-logo{
      margin-bottom: 3rem;

      img{
        width: 100%; /*a img ocupa 100% da div*/
        object-fit: cover;
        width: 2.8rem;
      }
    }
  }

  .pesquisa{
    border: 2px solid rgb(168 199 250);
    display: flex;
    width: 50%;
    margin: 1rem;
    border-radius: 0.2rem;

    input{
      width: 100%;
      border: rgb(168 199 250);
    }

    .buscar{
      border: rgb(168 199 250);
      width: 10%;
      display: flex;
      justify-content: center;
      background-color: white;
    }

    .lupa{
      margin-top: 0.2rem;
      cursor: pointer;
    }

    .buscar:hover{
      background-color: rgb(200, 226, 249);
      transition: 0.2s;
    }  
  }

  .btnForm{
    display: flex;
  }

  section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.2rem;

    p{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin: 1rem 0 0 1.2rem;
      font-size: 1.2rem;
    }
  }

  .botao_logout{
    margin-left: 4rem;
    margin-top: 1.2rem;
    color: black;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    font-size: 0.9rem; 
    font-weight: bold;
    margin-left: 2rem;
    border: none; 
    background: linear-gradient(to right, rgb(255 206 0), rgb(255 128 0));
    cursor: pointer;
  } 

  .botao_logout:hover{
    transform: scale(1.1);
    transition: 0.2s;
  }

  .botao_adicionar{
    margin-left: 4rem;
    margin-top: 1.2rem;
    color: black;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    font-size: 0.9rem; 
    font-weight: bold;
    margin-left: 2rem;
    cursor: pointer;
    border: none; 
    background: linear-gradient(to right, rgb(0, 102, 255), rgb(46, 160, 226), rgb(172, 236, 255));
  } 

  .botao_adicionar:hover{
    transform: scale(1.1);
    transition: 0.2s;
  }
}

.titulo-principal{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color:rgb(233, 203, 35);
  font-family: Impact;
  font-size: 3rem;
  letter-spacing: 0.6rem;
}

/* Cards */

.cards{ /*todos os cards*/
  width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly; /*o espaçamento dos itens é o mesmo*/
  flex-wrap: wrap; /*quando diminui a tela */
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 1rem;
  background: linear-gradient(to right, rgb(50 85 226), rgb(32 35 128));
  border-style: groove;
  
  .card{ /*card único*/
    display: flex;
    flex-direction: column;
    flex: 0 280px;
    padding-top: 1rem;
    margin: 0.5rem 0.5rem 2rem 0.5rem;
    border-radius: 1rem; /*deixa a borda arredondada*/
    background-color: rgb(233, 203, 35);
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(0, 0, 0);
    align-items: center;
    
    .img_card{
      align-items: center;

      img{
        width: 100%; /*a img ocupa 100% da div*/
        aspect-ratio: 16/16; /*trava o tamanho da imagem*/
        object-fit: contain;
        margin-bottom: 0.2rem;
      }
    }

    .conteudo{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      background-color: rgb(126, 124, 11);
      box-shadow: black 1px 1px 4px;
      border-radius: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      width: 90%;
    }

    p{
      margin: 0.3rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: white;
    }

    .titulo{
      align-self: center;
      font-family: inherit;
      font-size: 1.3rem;
      margin-top: 0.2rem;
    }

    .descricao{
      color: rgb(169, 167, 167);
    }

    .botoes{
      display: flex;
      margin-bottom: 0;
      height: 2rem;
      width: 100%;
      margin-bottom: 0.2rem;
      justify-content: center;
    }

    .div-editar{
      padding: 0%;
      flex: 1;
    }

    form{
      padding: 0%;
      flex: 1;

    }

    .botao{
      width: 90%;
      height: 100%;
      align-self: center;
      border-radius: 1rem;
      margin-bottom: 0.8rem;
      margin-top: 0.6rem;
      padding: 0.4rem;
      border-color: #cac114;
      background-color: rgb(67, 44, 238);
      color: rgb(255, 255, 255); 
      font-weight: bold;
      font-size: 0.9rem;
      flex: 1;
      cursor: pointer;
    }

    .botao:hover{
      opacity: 0.85;
    }

  }
}

/* Footer */

footer{
  margin-top: 1rem;
  color: white;

  p{
    display: flex;
    color: white;
    justify-content: space-between;
  }

  a{
    display: block;
    margin-left: 0.6rem;
    color: white;
  }

  a:hover{
    text-decoration: 1px white underline;
    transform: scale(1.2);
    transition: 0.2s;
  }
}
